*{
	margin: 0px;
	padding: 0px;
}
header{
	width: 1200px;
	height: 72px;
	margin: 42px auto 0px;
}
header img{
	display: inline-block;
	float: left;
	margin-left: 50px;
	margin-right: 33px;
}
.header-right{
	height: 100%;
	width: 230px;
	border-left: 3px solid #cdcdcd;
	display: inline-block;
	float: left;
	font-size: 36px;
	color: #000;
	line-height: 72px;
	text-align: center;
}
footer{
	width: 1200px;
	margin: 0 auto;
	margin-top: 144px;
	text-align: center;
	color: #999;
	font-size: 14px;
	line-height: 34px;
}
footer p{
	width: 100%;
}
footer span{
	width: 100%;
}
section{
	width: 1200px;
	height: 615px;
	padding-top: 75px;
	border:10px solid #f0f0f0;
	margin: 0 auto;
	box-sizing: border-box;
}
.right{
	width: 581px;
	height: 100%;
	float: left;
	position: relative;
}
.right form{
	width: 100%;
	display: block;
}
.right form input[type="text"],.right form input[type="password"],.right form input[type="submit"]{
		display: block;
		margin: 0 auto;
		width: 379px;
		height: 53px;
		border:2px solid #ededed;
		font-size: 16px;
		padding-left: 40px;
		background-repeat: no-repeat;
		background-position: 10px;
		color: #999;
}
.right form input[type="text"]{
	background-image: url(.././img/u_ico.jpg);
}
.right form input[type="password"]{
	background-image: url(.././img/p_ico.jpg);
}
.right form input[type="submit"]{
	padding: 0px;
	width: 421px;
	background: #e64346;
	font-size: 20px;
	color: #fff;
}
.right form .phone{
	background-image: url(.././img/phone_ico.jpg)!important;
}
.biaoshi{
	margin: 0 auto;
	width:421px;
	height: 32px;
	display: block;
	line-height: 32px;
	font-size: 12px;
	color: #c3c3c3;
}
.biaoshi img{
	vertical-align: middle;
	display: inline-block;
	margin-left: 17px;
	margin-right: 5px;
}
.red{
	color: #e64346;
}
.box{
	width: 421px;
	height: 83px;
	font-size: 16px;
	text-align: center;
	line-height: 83px;
	margin: 0 auto;
}
.box a{
	text-decoration: none;
	color: #005ea7;
}
.newright{
	float: right;
	margin-right: 59px;
	background: red;
	font-size: 0px;	
}
.newtop{
	width: 1200px;
	margin: 0 auto;
	height: 42px;
	font-size: 24px;
}
.newtop a{
	text-decoration: none;
	color: #000;
	float: right;
}
.newtop span{
	float: right;
	color: #999;
}
.position{
	position: absolute;
	width: 110px;
	left: 512px;
	top: 284px;
}
.position a{
	color: #005ea7;
}